@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    margin: 0;
    max-width: 100%;
}

.heading {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.heading h1 {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 5rem;
}

.heading span,
.about h1,
.skills h1,
.projects h1 span {
    color: #ffae00;
}

.nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    border: black solid 2px;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    transition: all ease 0.3s;
}

.about,
.skills {
    padding: 200px 0;
    background-color: #000;
    color: #fff;
}

.about img {
    height: 400px;
    margin: 0 5rem;
}

.about img:hover,
.skills img:hover {
    border: #00ffff double 2px;
    height: 450px;
    transition: ease 0.3s all;
}

.about p {
    line-height: 3rem;
    margin: 0 10rem;
    padding: 2rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 1000px;
}

.about p:hover {
    border: #00ffff double 2px;
    color: #00ffff;
    font-size: 25px;
}

.skills img {
    /* float: right; */
    height: 400px;
    margin-right: 5rem;
}

.skills .skill-list {
    line-height: 4rem;
    margin-right: 30rem;
    padding: 0 3em;
    font-size: 30px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.skill-list span:hover {
    color: #00ffff;
    font-size: 50px;
    transition: ease all 0.3s;
}

.projects {
    background: gray;
    padding: 150px 0;
}

.projects h1 {
    text-align: center;
    font-size: 100px;
    margin-top: -85px;
}

.projects .cardwrap {
    margin: 200px 0 0 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.projects .cardwrap .card {
    font-size: 20px;
    width: 200px;
    color: black;
}

.projects .cardwrap .card:hover {
    border: #000 2px solid;
    background-color: #f1f1f1;
    padding: 10px;
    width: 250px;
}

.projects .cardwrap .card img {
    border: 0;
    width: 150px;
    height: 120px;
}

.projects .cardwrap .card a {
    color: purple;
}

.contact {
    padding: 200px;
    background-color: darkslategray;
}

.contact h1 {
    text-align: left;
    font-size: 100px;
    margin-top: -85px;
    color: rgb(30, 146, 241);
}

.flex {
    display: flex;
}

.contact img {
    display: grid;
    border: double black 4px;
    border-radius: 50%;
    background: rgb(56, 211, 231);
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 0;
}

.contact img:hover {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.contact .logos {
    margin-left: 10rem;
    margin-top: 10rem;
}