@media screen and (max-width: 600px) {
    .heading {
        background-color: #f1f1f1;
        padding: 1px;
        text-align: center;
    }
    .heading h1 {
        text-align: center;
        font-size: 30px;
    }
    .nav {
        text-align: center;
        margin-top: -50px;
        padding-bottom: 20px;
    }
    .nav li {
        display: inline-block;
        font-size: 10px;
        padding: 5px;
    }
    .nav li a:hover {
        border: none;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
    .about,
    .skills {
        position: relative;
        padding: 30px 0;
    }
    .about img,
    .skills img {
        height: 100px;
        margin: 0 1rem;
    }
    .about img:hover,
    .skills img:hover {
        height: 120px;
    }
    .about h1 {
        position: absolute;
        top: 150px;
        left: 10px;
        font-size: 10px;
    }
    .about p {
        line-height: 1rem;
        margin: 0 1rem;
        padding: 1rem;
        font-size: 5px;
        text-align: left;
    }
    .about p:hover {
        font-size: 7px;
    }
    .skills .skill-list {
        line-height: 1rem;
        margin-right: 3rem;
        padding: 0 1rem;
        font-size: 5px;
        text-align: left;
    }
    .skill-list span:hover {
        font-size: 7px;
    }
    .projects {
        text-align: center;
        padding: 20px 0;
    }
    .projects h1 {
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
    }
    .projects .cardwrap {
        margin: 20px 0 0 100px;
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }
    .projects .cardwrap .card {
        font-size: 10px;
        width: 200px;
        padding: 2px;
        margin-bottom: 20px;
    }
    .projects .cardwrap .card:hover {
        border: #000 1px solid;
        background-color: #f1f1f1;
        padding: 2px;
        margin-bottom: 20px;
        width: 200px;
    }
    .projects .cardwrap .card img {
        border: 0;
        width: 100px;
        height: 80px;
    }
    .contact {
        padding: 20px 0;
    }
    .contact h1 {
        text-align: center;
        font-size: 20px;
        margin: 10px;
        margin-top: 5px;
    }
    .contact img {
        width: 10px;
        height: 10px;
        padding: 5px;
        margin: 0;
    }
    .contact img:hover {
        width: 15px;
        height: 15px;
        padding: 10px;
    }
    .contact .logos {
        margin-left: 120px;
        margin-top: 20px;
    }
}